In [11]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Store plots in notebook
%matplotlib inline

# Suppress unwanted messages
import warnings
warnings.filterwarnings('ignore')

In [12]:
# Read CSV
superstore_df = pd.read_csv('Resources/Sample - Superstore.csv')
superstore_df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/16,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/16,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/16,6/16/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/15,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/15,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [13]:
# Information
superstore_df.info

<bound method DataFrame.info of       Row_ID        Order_ID Order_Date Ship_Date       Ship_Mode Customer_ID  \
0          1  CA-2016-152156    11/8/16  11/11/16    Second Class    CG-12520
1          2  CA-2016-152156    11/8/16  11/11/16    Second Class    CG-12520
2          3  CA-2016-138688    6/12/16   6/16/16    Second Class    DV-13045
3          4  US-2015-108966   10/11/15  10/18/15  Standard Class    SO-20335
4          5  US-2015-108966   10/11/15  10/18/15  Standard Class    SO-20335
...      ...             ...        ...       ...             ...         ...
9989    9990  CA-2014-110422    1/21/14   1/23/14    Second Class    TB-21400
9990    9991  CA-2017-121258    2/26/17    3/3/17  Standard Class    DB-13060
9991    9992  CA-2017-121258    2/26/17    3/3/17  Standard Class    DB-13060
9992    9993  CA-2017-121258    2/26/17    3/3/17  Standard Class    DB-13060
9993    9994  CA-2017-119914     5/4/17    5/9/17    Second Class    CC-12220

         Customer_Name    Segment        Country             City  ...  \
0          Claire Gute   Consumer  United States        Henderson  ...
1          Claire Gute   Consumer  United States        Henderson  ...
2      Darrin Van Huff  Corporate  United States      Los Angeles  ...
3       Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4       Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
...                ...        ...            ...              ...  ...
9989  Tom Boeckenhauer   Consumer  United States            Miami  ...
9990       Dave Brooks   Consumer  United States       Costa Mesa  ...
9991       Dave Brooks   Consumer  United States       Costa Mesa  ...
9992       Dave Brooks   Consumer  United States       Costa Mesa  ...
9993      Chris Cortes   Consumer  United States      Westminster  ...

     Postal_Code  Region       Product_ID         Category Sub_Category  \
0          42420   South  FUR-BO-10001798        Furniture    Bookcases
1          42420   South  FUR-CH-10000454        Furniture       Chairs
2          90036    West  OFF-LA-10000240  Office Supplies       Labels
3          33311   South  FUR-TA-10000577        Furniture       Tables
4          33311   South  OFF-ST-10000760  Office Supplies      Storage
...          ...     ...              ...              ...          ...
9989       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991       92627    West  TEC-PH-10003645       Technology       Phones
9992       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product_Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]>

In [14]:
# Column information 
superstore_df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [15]:
# Check for nulls
superstore_df.isnull().sum()

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [16]:
# dtypes
superstore_df.dtypes

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code        int64
Region            object
Product_ID        object
Category          object
Sub_Category      object
Product_Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [17]:
# Convert date objects to dates
superstore_df['Order_Date'] = pd.to_datetime(superstore_df['Order_Date'])
superstore_df['Ship_Date'] = pd.to_datetime(superstore_df['Ship_Date'])
superstore_df.dtypes

Row_ID                    int64
Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code               int64
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [18]:
# Describe numerical columns
superstore_df.describe()

,Row_ID,Postal_Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000